// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        /*
         * wenwan 36键布局: 3x5 + 3拇指键 x 两侧
         * 单位: 0.01u (100 = 1u)
         *
         * |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  |
         * |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |
         * |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |
         *             | ESC | SPC | TAB |   | ENT | BSP | DEL |
         */
        keys  //                     w   h    x    y     rot    rx    ry
            // 左手第1行
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   12       0     0     0>
            , <&key_physical_attrs 100 100  400   24       0     0     0>
            // 右手第1行
            , <&key_physical_attrs 100 100  700   24       0     0     0>
            , <&key_physical_attrs 100 100  800   12       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100   37       0     0     0>
            // 左手第2行
            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  112       0     0     0>
            , <&key_physical_attrs 100 100  400  124       0     0     0>
            // 右手第2行
            , <&key_physical_attrs 100 100  700  124       0     0     0>
            , <&key_physical_attrs 100 100  800  112       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  137       0     0     0>
            // 左手第3行
            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  212       0     0     0>
            , <&key_physical_attrs 100 100  400  224       0     0     0>
            // 右手第3行
            , <&key_physical_attrs 100 100  700  224       0     0     0>
            , <&key_physical_attrs 100 100  800  212       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  237       0     0     0>
            // 左手拇指键
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  324       0     0     0>
            , <&key_physical_attrs 100 100  400  336       0     0     0>
            // 右手拇指键
            , <&key_physical_attrs 100 100  700  336       0     0     0>
            , <&key_physical_attrs 100 100  800  324       0     0     0>
            , <&key_physical_attrs 100 100  900  312       0     0     0>
            ;
    };
};
